.container {
    background: rgb(136, 136, 136);
}

.container {
    display: flex;
    flex-direction: column;
  }

.div1 {
    background: yellow;
}

.div2 {
    background: green;
}

.div3{
    background : orange;
}
